.error {
    color: #FF5656;
    font-size: 12px; 
    margin-top: 5px; 
}

.error-border {
    border: 2px solid #FF5656;
}

.error-message {
    color: #FF5656;
    font-size: 12px;
    margin-top: 8px; 
}


body {
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 1280px;
    height: 832px;
    top: 622px;
    left: 970px;

}

.container{
    display: grid;
    grid-template-columns: auto 1fr;
}

h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.form {
    height: 354px;
    width: 418px;
    margin: auto;
    margin-top: 169px;
}

.text{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.box {
    background-color: #f0f0f0; 
    border-radius: 8px;
    width: 416px;
    height: 40px;
    margin-bottom: 38px;
}

.box input {
    border: none; 
    outline: none; 
    background: none; 
    width: 416px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}
.box input::placeholder {
    font-size: 14px;
    font-weight: 400;
    justify-content: center ;
    top:36px;
}

.button {
    background-color: #123B32;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 416px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
}


.signup{
    font-weight: 400;
    width: 418px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 38px;
}

.highlight{
    color: #4F3CC9;
    cursor: pointer;
}
.none{
    color: #ffffff;
    cursor: pointer;
}

.terms{
    font-family: inter;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #AFAFAF;
}

.image{
    width: 514px;
    height: 913px;
    position: relative;
}

.image h1{
    font-size: 30px;
    color: #FAE084;
    font-weight: 700;
    line-height: 40px;
    position: absolute;
    width: 313px;
    height: 120px;
    text-align: left;
}

.decor{
    padding:64px, 137.16px, 30px, 64px ;
    width: 514px;
    height: 304px;
    margin-left: 64px;
    margin-top: 64px;
    position: absolute;
    z-index: 1;
}

.logo{
    display: grid;
    grid-template-columns: auto auto;
    width: 152px;
    height: 59px;
    padding: 0px, 0px, 0px, 0px;
    align-items: center;
    gap:10px;
    margin-bottom: 31px;
}

.logo h5{
    color: #FAE084;
    font-size: 14px;
    line-height: 20px;
    width: 98px;
    height: 59px;
}